// Place all the styles related to the FloorMaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#labels_for_poa{	
  margin: 5px; 
  border: 1px solid black;
  float:right;
  width:223px;
  display:none;
  background-color:rgb(4, 142, 21);
  color:white;
} 
b{
	padding-left:70px;
}